header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
  width: 100%;
  margin-bottom: 50px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f7df5c;
  display: flex;  
  padding: 35px;
  margin-bottom: 20px;
  z-index: 1; /* aumente o z-index para garantir que esteja acima do conteúdo */
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.menu a:hover {
  color: #fff;
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Plano de fundo dos cards Pokémon */
.normal {
  background-color: #a6a877;
}

.grass {
  background-color: #77c850;
}

.fire {
  background-color: #ee7f30;
}

.water {
  background-color: #678fee;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #a8b720;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}

/* Definições da classe .pokemon */
.pokemon {
  display: flex; /* Define o container como flex */
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem; /* Define o raio dos cantos */
}
/* Define a cor e a opacidade do número do pokemon */
.pokemon .number {
  color: #000;
  opacity: 0.3;
  text-align: right;
  font-size: 0.625rem;
}
/* Define a capitalização do texto do nome do pokemon e a cor */
.pokemon .name {
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 0.25rem;
}
/* Define a exibição da seção de detalhes do pokemon e a posição dos itens */
.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* Define o estilo da lista de tipos de pokemons */
.pokemon .detail .types {
  padding: 0;
  margin: 10;
  list-style: none;
}
/* Define o estilo dos tipos de pokemon e suas cores */
.pokemon .detail .types .type {
  color: #fff;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
}
/* Define o tamanho máximo da imagem do pokemon */
.pokemon .detail img {
  max-width: 100%;
  height: 70px;
}
/* Define a exibição e o alinhamento dos botões de paginação */
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
/* Define o estilo dos botões de paginação */
.pagination button {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
  width: 100px;
  height: 50px; 
  position: relative; 
}

.stats-pokemon {
  color: #000000;
  font-size: 10px;
  background-color: #ece6e6;
  border: 1px solid black;
  border-radius: 5px;  ;  
  margin: 2px;
  padding: 3px;
}

/* Define o layout das colunas de pokemon para telas maiores ou menores de acordo com a resolução */
@media screen and (min-width: 380px) {
  .pokemons  {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}